[submodule "bank/lib/forge-std"]
	path = bank/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "6_NFT/foundry/nft_market/lib/forge-std"]
	path = 6_NFT/foundry/nft_market/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "6_NFT/foundry/nft_market/lib/solmate"]
	path = 6_NFT/foundry/nft_market/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "6_NFT/foundry/nft_market/lib/openzeppelin-contracts"]
	path = 6_NFT/foundry/nft_market/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
